@{
    ViewData["Title"] = "Doc Open";
}

<div class="openbanner col-12 text-center">
    <h4>The DocOpen photo contest 2020-2021 is now open </h4>
</div>
<div class="mainheader">
    <div class="container-fluid">    
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
               
            </div>
        </div>
    </div>
</div>
