@{
    ViewData["Title"] = "Judjes";
}
<div class="page-section">
<h1>@ViewData["Title"]</h1>

<div class="row text-center">
    <div class="col-sm judjes">
      <img class="thumb" src ="/img/konovtsev.jpg"/>
      <h3>Andrii Konontsev</h3>
      <p>2013 – 2016 MgA, Department of Advertising Photography, Tomas Bata University in Zlin, Czech Republic</p>
    <a href="https://www.konontsev.com/">Portfolio</a>
    </div>
   <div class="col-sm">
      <img class="thumb" src ="/img/konovtsev.jpg"/>
      <h3>Andrii Konontsev</h3>
      <p>2013 – 2016 MgA, Department of Advertising Photography, Tomas Bata University in Zlin, Czech Republic</p>
    <a href="https://www.konontsev.com/">Portfolio</a>
    </div>
   <div class="col-sm">
      <img class="thumb" src ="/img/konovtsev.jpg"/>
      <h3>Andrii Konontsev</h3>
      <p>2013 – 2016 MgA, Department of Advertising Photography, Tomas Bata University in Zlin, Czech Republic</p>
    <a href="https://www.konontsev.com/">Portfolio</a>
    </div>
  </div>
</div>
